<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-TouchID-plugin" version="0.0.1" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" 
xmlns:android="http://schemas.android.com/apk/res/android">
  <name>TouchIDPlugin</name>
  <js-module name="TouchIDPlugin" src="www/TouchIDPlugin.js">
    <clobbers target="TouchIDPlugin" />
  </js-module>

   <platform name="ios">
  <config-file target="config.xml" parent="/*">
    <feature name="TouchIDPlugin">
      <param name="ios-package" value="TouchIDPlugin" />
    </feature>
  </config-file>
  <header-file src="src/ios/TouchIDPlugin.h" />
  <source-file src="src/ios/TouchIDPlugin.m" />

<!-- Auth library files -->
<header-file src="src/ios/OAuthLibrary/AuthController.h"/>
<header-file src="src/ios/OAuthLibrary/ChangePasscodeHandler.h"/>
<header-file src="src/ios/OAuthLibrary/KeychainItemWrapper.h"/>
<header-file src="src/ios/OAuthLibrary/PasscodeManager.h"/>
<header-file src="src/ios/OAuthLibrary/PasscodeUnlock.h"/>
<header-file src="src/ios/OAuthLibrary/SplashViewController.h"/>
<header-file src="src/ios/OAuthLibrary/TouchIDManager.h"/>
<header-file src="src/ios/OAuthLibrary/UserStatusCheck.h"/>
<source-file src="src/ios/OAuthLibrary/Config.plist"/>
<source-file src="src/ios/OAuthLibrary/libOAuthLibrary.a" framework="true"/>

</platform>
</plugin>

