ion-menu{
    margin-top:57px;
}
.bar-button-default{
    background-color:rgb(66, 66, 66);
    color: #fff;
}

.navigation_icons {
    background-color: rgba(66, 66, 66, 0.58);    
    overflow-y: auto;
    .item-complex .item-content, item{
    background-color:white;
    }
}

.center {
    text-align: center;
    display: block;
}

.menu-name {
    background-color: #424242;
    color: white;
}

.custom_toolbar {
    background: #999;
}


.menu-list-container {
    background-color: #009edc;
}

.label {
    font-size: 20px;
    color: white;
}

.profile {
    padding: 15px 20px;
    .profile_icon {
        width: 90px;
        height: 90px;
        border-radius: 50%;
    }
    &.close {
        padding: 0;
    }
}

.checkmark{
    color:#424242;
    margin-right:5px;
}
ion-menu ion-item.item{
    color: #fff;
    background-color: #009edc;
    &.active-menu {
        background-color: #fff;
        color:#009edc;
        ion-icon{
            color:#009edc;
        }
    }
}

.info-slider{
    position: absolute;    
    background-color: #f2f3f2;
    top: 0;
    left: 800px;
    right: 0;
    bottom: 0;
    padding:20px 10px;
    transition: left 0.2s linear;
	overflow-y:auto;
	div{
		display:none;
	}
    &.info-open {
        left: 100px;
		div{
			display:block;
		}
    }
}