<ion-menu [content]="content">
    <!-- <ion-toolbar>
        <ion-title>Back2Basics</ion-title>
    </ion-toolbar> -->
    <ion-content class="menu-list-container">
        <collapsible-pane [collapsed]="true">
            <span class="collapsible-pane-title" >Product</span>
            <div class="collapsible-pane-content">
                <ion-list class="navigation_icons">
                    <ion-item *ngFor="let p of plateforms" (click)="openPage(p);activePlateform=p" class="menu-name" [ngClass]="{'active-menu':activePlateform.ID==p.ID}">
                        <ion-icon name="checkmark" class="checkmark"></ion-icon>
                        <ion-label>{{correctName(p.name)}}</ion-label>
                    </ion-item>
                </ion-list>
            </div>
        </collapsible-pane>
        <collapsible-pane [collapsed]="true">
            <span class="collapsible-pane-title" (click)="showToast('Under Construction', 'center')" style="color:grey">My Top 5 Customers</span>
            <div class="collapsible-pane-content" ></div>
        </collapsible-pane>
        <collapsible-pane [collapsed]="true">
            <span class="collapsible-pane-title">Preferences</span>
            <div class="collapsible-pane-content">
                <ion-list class="navigation_icons">
                    <ion-item *ngFor="let p of activePlateform.categories" class="menu-name">
                        <ion-label>{{p.name}}</ion-label>
                        <ion-checkbox [(ngModel)]="p.value"></ion-checkbox>
                    </ion-item>
                </ion-list>
            </div>
        </collapsible-pane>
        <!--<ion-item class="menu-collapsible">Profile
        </ion-item> -->
        <div class="profile">
            <img class="profile_icon" src="img/User-Icon.png">
            <ion-label (click)="showToast('Under Construction', 'center', 'yellow')" style="color:grey" class="label">My Profile</ion-label>
            <ion-label (click)="openHelpPage()" class="label">About</ion-label>
            <ion-label class="label">v0.9.24</ion-label>
            <br />
            <br />
            <ion-label (click)="logout()" class="label">Logout</ion-label>
        </div>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
