.getting-started {
    p {
        margin: 20px 0;
        line-height: 22px;
        font-size: 16px;
    }
    .card-header {
        color: #009edc;

    }
    .activated{
    	background-color:#f2f2f2;
    }
}
.toolbar-background {
    border-color: #b2b2b2;
    background: #fff;
}
.toolbar-title {
    color: #009edc;
    font-size: large;
}
.info_search{
	background-color: white;
    width: 82%;
    margin-top: 3px;
}
.info-icon{
	position: absolute;
    right: 10px;
    top: 15px;
    font-size: x-large;
}
.page-header{
	color:#009edc;
	background-color:#fff;
	height:48px;
	display:table;
	width:100%;
	padding:0 20px 0 0;

	span{
		display: table-cell;
		vertical-align: middle;
		font-size: large;
		&.title	{
			font-size: large;
			background-color: white;
			color: #009edc;
			text-align: center;
    		padding-right: 20px;
		}
	}
	div{
		display: table-cell;
		vertical-align: middle;
	}
}
.bar-button-default {
	background-color: white //!important;
}
.header-info{
	color:#009edc;
	background-color:#fff;
	height:48px;
	display:table;
	width:100%;


	span{
		display: table-cell;
		vertical-align: middle;
		font-size: large;
		&.title	{
			font-size: large;
			background-color: #009edc;
			color: white;
			padding-left: 53px;
		}
	}
	div{
		display: table-cell;
		vertical-align: middle;
	}
}
.disable-hover.bar-button.bar-button-default.bar-button-menutoggle.bar-button-icon-only{
	background-color: #009edc;
	}
.back-button.disable-hover.bar-button.bar-button-default.show-back-button{
	background-color: #009edc;
	}

ion-row > div.item-card{
	flex:1;
	border-right: 1px dotted gray;
	text-align: center;

	&:last-child{
		border:none;
	}
}
.warning{
    color:red;
}
.disabled-metric{
	color:#ccc;
	h1{
		color:#ccc !important;
	}
}
@media only screen
    and (max-device-width: 640px),
    only screen and (max-device-width: 667px),
    only screen and (max-width: 480px)
{
	[padding] scroll-content{
		padding: 0px;
		ion-card{
			margin: 5px 12px;
			&:first-child{
				margin-top: 12px;
			}
			ion-card-header{
				padding: 8px;
				font-size: 1.4rem;
			}
			ion-card-content{
				padding: 0px 9px 9px;
			}
			h1{
				font-size: 2rem;
			}
		}
	}
}
