<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu" md="md-menu"></ion-icon>
            <!-- <img src="../../img/menu-icon.png"/> -->
        </button>
        <div class="page-header">
            <span class="title" [hidden]="enableSearch">Back To Basics</span>
            <!-- <ion-input [hidden]="!enableSearch" type="username" placeholder="| Search here ..." style="background-color: white;
            width: 82%; margin-top: 3px;color: black;"></ion-input> -->
            <ion-searchbar [hidden]="!enableSearch" (ionInput)="getItems($event)"></ion-searchbar>
            <ion-icon class="info-icon" ios="ios-search" md="md-search" (click)="enableSearch = !enableSearch"></ion-icon>
        </div>
    </ion-navbar>
    <div class="header-info">
        <span class="title">{{correctName(pageTitle)}}</span>
        <div (click)="showToast('Part of next release', 'bottom')"class="info-logo" style="background-color: #009edc; text-align: right;
    padding-right: 5px;">
            <img style="width: 32%" src="./img/info-icon.png" />
        </div>
    </div>
    <!-- <ion-searchbar [(ng-model)]="defaultSearch"></ion-searchbar> -->
</ion-header>
<ion-content padding class="getting-started">
    <ion-list>
        <ion-card *ngFor="let c of cards">
            <ion-card-header class="card-header">
                {{c.name.toUpperCase()}}
            </ion-card-header>
            <ion-card-content>
                <ion-row wrap>
                    <div (click)="itemTapped($event, c, i)" class="item-card" [hidden]="c.subCategories.length==0" *ngFor="let v of c.subCategories; let i = index">
                        <h1 [ngClass]="{warning:c.name=='CAPS'}">{{v.value}}</h1>
                        <span>{{v.name}}</span>
                    </div>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
