<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu" md="md-menu"></ion-icon>
        </button>
        <div class="page-header">
            <span class="title" [hidden]="enableSearch">Back To Basics</span>
            <ion-searchbar [hidden]="!enableSearch" (ionInput)="getItems($event)"></ion-searchbar>
            <ion-icon [hidden]="enableSearch" class="info-icon" ios="ios-search" md="md-search" (click)="enableSearch = !enableSearch"></ion-icon>
            <ion-icon [hidden]="!enableSearch" class="info-icon" name="close" (click)="onCancel()"></ion-icon>
        </div>
    </ion-navbar>
    <div class="header-info">
        <span class="title">{{correctName(pageTitle)}}</span>
        <div (click)="showInfo=!showInfo" class="info-logo" style="background-color: #009edc; text-align: right;
    padding-right: 5px;">
            <img style="width: 32%" src="./img/info-icon.png" />
        </div>
    </div>
    <!-- <ion-searchbar [(ng-model)]="defaultSearch"></ion-searchbar> -->
</ion-header>
<ion-content padding class="getting-started">
    <ion-list>
        <ion-card *ngFor="let c of page.categories" [hidden]="!c.value || !c.visible">
            <ion-card-header class="card-header">
                {{c.name.toUpperCase()}}
            </ion-card-header>
            <ion-card-content>
                <ion-row wrap>
                    <div (click)="itemTapped($event, c, i)" [ngClass]="{'disabled-metric':v.value=='N'}" class="item-card" [hidden]="c.subCategories.length==0" *ngFor="let v of c.subCategories; let i = index">
                        <h1 [hidden]="v.value=='N'" [ngClass]="{warning:c.name=='CAPS' && v.value!=0 && v.value!='---'}">{{v.value}}</h1>
                        <span>{{v.subCategory}}</span>
                    </div>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
    <div class="info-slider" [ngClass]="{'info-open':showInfo}">
        <div [innerHTML]="info"></div>
    </div>
</ion-content>
