<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
       <div class="page-header">
        <span class="title" [hidden]="enableSearch">{{pageTitle}}</span>
        <ion-input [hidden]="!enableSearch" type="username" placeholder="Information area" style="background-color: white;
            width: 82%; margin-top: 3px;color: black;"></ion-input>
        <ion-icon class="info-icon" ios="information-circle" md="md-information-circle" (click)="enableSearch = !enableSearch"></ion-icon>
    </div>

    </ion-navbar>
   <!--  <div class="page-header">
        <span class="title">{{pageTitle}}</span>
        <div>
            <span style="display:inline-block;">Last refresh</span>
            <span>{{lastRefreshed}}</span>
        </div>
    </div> -->
</ion-header>
<ion-content padding class="getting-started">
<!-- <ion-searchbar [(ng-model)]="defaultSearch"></ion-searchbar> -->
    <ion-list>
        <ion-card *ngFor="let c of cards" (click)="itemTapped($event, c)">
            <ion-card-header class="card-header">
                {{c.name.toUpperCase()}}
            </ion-card-header>
            <ion-card-content>
                <ion-row wrap>
                    <div class="item-card" [hidden]="c.subCategories.length==0" *ngFor="let v of c.subCategories">
                        <h1 [ngClass]="{warning:c.name=='CAPS'}">{{v.value}}</h1>
                        <span>{{v.name}}</span>
                    </div>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-list>
</ion-content>
