.getting-started {
    p {
        margin: 20px 0;
        line-height: 22px;
        font-size: 16px;
    }
    .card-header {
        color: #009edc;

    }
    .activated{
    	background-color:#f2f2f2;
    }
}
.toolbar-background {
    border-color: #b2b2b2;
    background: #009edc;
}
.toolbar-title {
    color: #009edc;
}
.info_search{
	background-color: white;
    width: 82%;
    margin-top: 3px;
}
.info-icon{
	position: absolute;
    right: 10px;
    top: 17px;
    font-size: x-large;
}
.page-header{
	color:#fff;
	background-color:#009edc;
	height:48px;
	display:table;
	width:100%;
	padding:0 20px;	

	span{
		display: table-cell;
		vertical-align: middle;
		font-size: small;
		&.title{
			font-size: large;
		}
	}
	div{
		display: table-cell;
		vertical-align: middle;
	}	
}
.disable-hover.bar-button.bar-button-default.bar-button-menutoggle.bar-button-icon-only{
	background-color: #009edc;
	}
.back-button.disable-hover.bar-button.bar-button-default.show-back-button{
	background-color: #009edc;
	}

ion-row > div.item-card{
	flex:1;
	border-right: 1px dotted gray;
	text-align: center;	

	&:last-child{
		border:none;
	}
}
.warning{
    color:red;
}