<ion-header>
    <ion-navbar>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <div class="page-header">
            <span class="title">Back To Basics</span>
            <!-- <ion-input type="username" placeholder="Information area" style="background-color: white;
            width: 82%; margin-top: 3px;color: black;"></ion-input> -->
            <ion-icon class="info-icon" ios="ios-search" md="md-search" (click)="showToast('Under Construction', 'center')"></ion-icon>
        </div>
    </ion-navbar>
    <div class="header-info">
        <span class="title">{{correctName(pageTitle)}}</span>
        <div (click)="showInfo=!showInfo" class="info-logo" style="background-color: #009edc; text-align: right;padding-right: 5px;">
            <img style="width: 32%" src="./img/info-icon.png" />
        </div>
    </div>
</ion-header>
<ion-content class="summary-page">
    <collapsible-pane [disableCollapsible]="true">
        <span class="collapsible-pane-title">{{selectedItem.name.toUpperCase()}}</span>
        <div class="collapsible-pane-content">
            <summary-detail [model]="selectedItem" [currentIndex]="selectedIndex" (selectionChanged)="selectionChangedHandler($event)"></summary-detail>
        </div>
    </collapsible-pane>
    <div class="no-data" [hidden]="isVisible">
        <img style="width: 16%" src="./img/a.png" />
        <label style="color: grey; display: block">{{noDataText}}</label>
    </div>
    <collapsible-pane [hidden]="!isVisible">
        <span class="collapsible-pane-title">{{tableHeaderText}}</span>
        <div class="collapsible-pane-content">
            <switch-view>
                <div class="chart-view chart-container">
                    <pie-chart *ngIf="pieChartDataProvider.length>1" [dataProvider]="pieChartDataProvider"></pie-chart>
                </div>
                <div class="list-view" *ngIf="selectedSubCategory=='Open'">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>CFD</th>
                                <th>SR Related</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of casesList">
                                <td>{{m.subType}}</td>
                                <td>{{m.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-view" *ngIf="selectedSubCategory=='Resolve Time'">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>CFD</th>
                                <th>SR Related</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of casesList">
                                <td>{{m.subType}}</td>
                                <td>{{m.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-view" *ngIf="selectedSubCategory=='Critical Impact'">
                    <table style="width:100%">
                        <thead>
                            <tr>
                                <th>CFD</th>
                                <th>SR Related</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let m of casesList">
                                <td>{{m.subType}}</td>
                                <td>{{m.value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </switch-view>
        </div>
    </collapsible-pane>
    <collapsible-pane [hidden]="!isVisible">
        <span class="collapsible-pane-title">{{chartHeaderText}}</span>
        <div class="collapsible-pane-content chart-container">
            <multi-chart [dataProvider]="trendsList"></multi-chart>
        </div>
    </collapsible-pane>
    <div class="info-slider" [ngClass]="{'info-open':showInfo}">
        <div [innerHTML]="info"></div>
    </div>
</ion-content>
