.summary-page {
    .menu-collapsible {
        color: #009edc;
    }
    div.wrraper-container {
        padding: 8px 16px;
        background-color: rgb(242, 243, 242);
    }
    .chart-container{
		margin: 0 -16px;	
	}

    ion-item.item{
        min-height: 4rem;

        ion-label{
            margin: 7px 8px 7px 0;
        }

        .item-inner{
            border-bottom: none;
        }
    }

    .list-view{
        height: 110px;
        overflow: auto;
    }

    summary-detail>div{
        margin: -5px 0;
    }

    collapsible-pane:last-child .wrraper-container{
        padding: 2px 16px;
    }
}

